.input-wrapper
    Input({...$$restProps} withSlot)
        Button(
            type="alternate"
            size="small"
            label="{coin.symbol}"
            imageSrc="{coin.logoUrl}"
            imageAlt="{coin.symbol}"
        )