a.nav-item({...$$restProps}
    href="{href}"
    class="{className}"
    class:nav-item-active="{active}"
)
    +if('icon')
        Icon(
            icon="{icon}" 
            width="{15}" 
            height="{15}" 
            colorInherit
        )
    span { label }