FormGroup(class="select-field")
    Label(name="{name}" label="{label}")
    ErrorMessage(name="{name}")
    Selector(
        class!="form-selector {hasError ? 'with-error' : ''} {className}"
        id="{name}_field-input"
        value="{value}"
        options="{options}"
        disabled="{disabled}"
        placeholder="{placeholder}"
        onChange="{handleOnChange}"
    )
        svelte:fragment(slot="button" let:item)
            slot(name="button" item="{item}")
        svelte:fragment(slot="item" let:isActive let:isSelected let:item)
            slot(name="item" item="{item}" isActive="{isActive}" isSelected="{isSelected}")