mixin content
    +if('icon')
        Icon(icon="{icon}" width="{15}" height="{15}" colorInherit isOutlined="{$$restProps.isOutlined}")
        +elseif('imageSrc')
            img(loading="lazy" src="{imageSrc}" alt="{imageAlt}")
    +if('label')
        | {label}
    slot

+if('href')
    a(
        {...$$restProps}
        use:forwardAction
        bind:this="{forwardRef}"
        class!="{['btn', typeClass, sizeClass, className].join(' ')}"
        disabled="{disabled}"
        href="{href}"
        rel="{rel}"
    )
        +content
    +else()
        button(
            {...$$restProps}
            use:forwardAction
            bind:this="{forwardRef}"
            class!="{['btn', typeClass, sizeClass, className].join(' ')}"
            disabled="{disabled}"
            type="{btnType}"
            on:click="{onClick}"
        )
            +content