mixin content
    +if('icon')
        Icon(icon="{icon}" width="{15}" height="{15}" colorInherit)
        +elseif('imageSrc')
            img(loading="lazy" src="{imageSrc}" alt="{imageAlt}")
    +if('label')
        | { label}

+if('href')
    a(
        {...$$restProps}
        class!="{['btn', typeClass, sizeClass].join(' ')}"
        disabled="{disabled}"
        href="{href}"
        rel="{rel}"
    )
        +content
    +else()
        button(
            {...$$restProps}
            class!="{['btn', typeClass, sizeClass].join(' ')}"
            disabled="{disabled}"
            type="{btnType}"
            on:click="{onClick}"
        )
            +content