Controller(name="{name}" let:hasError let:value let:context let:handleInput)
    FormGroup(class="input-field")
        Label(name="{name}" label="{label}")
        ErrorMessage(name="{name}")
        input(
            class:with-error="{hasError}"
            use:focus="{{autofocus}}"
            id="{name}_field_input"
            name="{name}"
            placeholder="{placeholder}"
            type="{type}"
            value="{value}"
            disabled="{disabled}"
            on:blur="{context.handleBlur}"
            on:focus="{context.handleFocus}"
            on:input="{handleInput}")