.popup-inner
    PopupHeader({...getPopupHeaderProps(status)})
    PopupBody
        +if('status === Status.STARTING')
            .icon
                CircularLoading(
                    class="circle-wrapper"
                    width="{100}"
                    height="{100}"
                    radius="{48}"
                )
            +elseif('status === Status.PENDING')
                .icon
                    CircularLoading(
                        class="circle-wrapper"
                        progressColor="success"
                        width="{100}"
                        height="{100}"
                        radius="{48}"
                    )
            +elseif('status === Status.SUCCESS')
                .icon
                    img(loading="lazy" src="{successTxImage}" alt="success icon")
                +if('btnLabel')
                    Button(
                        label="{btnLabel}"
                        onClick="{btnOnClick}"
                    )
            +elseif('status === Status.FAILURE')
                .icon
                    img(loading="lazy" src="{failedTxImage}" alt="success icon")